CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs
Thirdparty/include/g2o
Thirdparty/lib
Documentation/Working/Doxyfile
Other/g2o_examples
out/build
CMakePresets.json
.vscode